.row.mt-4
  .col-md-12
    h2 Quick Links
    .list-group
      a.list-group-item.list-group-item-action(href="/employees") Employees
      a.list-group-item.list-group-item-action(href="/assets") Assets
      a.list-group-item.list-group-item-action(href="/assetCategory") Asset Categories
      a.list-group-item.list-group-item-action(href="/assetIssue") Issue Asset
      a.list-group-item.list-group-item-action(href="/assetIssue/returnList") Return
      a.list-group-item.list-group-item-action(href="/assetIssue/scrapList") Scrap Asset
      a.list-group-item.list-group-item-action(href="/assetIssue/history") Asset History

footer.footer.mt-4
  .container
    span.text-muted © 2024 Asset Management System
