nav.navbar.navbar-expand-lg.navbar-light.bg-light
  a.navbar-brand(href="#") Asset Manager
  button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
    span.navbar-toggler-icon
  .collapse.navbar-collapse#navbarNav
    ul.navbar-nav
      li.nav-item
        a.nav-link(href="/") Home
      li.nav-item
        a.nav-link(href="/employees") Employees
      li.nav-item
        a.nav-link(href="/assets") Assets
      li.nav-item
        a.nav-link(href="/assetCategory") Asset Categories
      li.nav-item
        a.nav-link(href="/assetIssue") Issue Asset
      li.nav-item
        a.nav-link(href="/assetIssue/returnList") Return
      li.nav-item
        a.nav-link(href="/assetIssue/scrapList") Scrap Asset
      li.nav-item
        a.nav-link(href="/assetIssue/history") Asset History
